.git
.github
.env
.env.*
!.env.docker.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
.phpunit.result.cache
README.md
README-v1.md
*.md
.idea
.vscode
