APP_NAME=PHPEducation
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://104.208.69.18

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=php_education
DB_USERNAME=phpedu
DB_PASSWORD=sfdch146
MYSQL_ROOT_PASSWORD=fchisdeh1691516

SESSION_DRIVER=file
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

CACHE_STORE=file

SANCTUM_STATEFUL_DOMAINS=104.208.69.18

MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=PHPEducation

RUN_MIGRATIONS=true
